<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Add a third party vector tile source</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>
<script>
var map = new mapboxgl.Map({
    container: 'map',
    style: 'http://osm-liberty.lukasmartinelli.ch/style.json',
    zoom: 14,
    center: [-4.471436, 54.23634]
});

map.on('load', function() {
    // Add VecTiles source
    map.addLayer({
        "id": "osm-history",
        "type": "line",
        "source": {
            "type": "vector",
            "tiles": [""],
            "minzoom": 6,
            "maxzoom": 14
        },
        "source-layer": "history",
        "layout": {
            "line-cap": "round",
            "line-join": "round"
        },
        "paint": {
            "line-opacity": 0.4,
            "line-color": "rgb(53, 175, 109)",
            "line-width": 1
        }
    });
});

map.addControl(new mapboxgl.NavigationControl());
</script>

</body>
</html>
