<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>BM</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>
<script>
    var map = new mapboxgl.Map({
        container: 'map',
        style: {
            "version": 8,
            "sources": {
                "simple-tiles": {
                    "type": "raster",
                    "tiles": [
                        "http://a.tile.stamen.com/toner/{z}/{x}/{y}.png",
                        "http://b.tile.stamen.com/toner/{z}/{x}/{y}.png",
                        "http://c.tile.stamen.com/toner/{z}/{x}/{y}.png",
                        "http://d.tile.stamen.com/toner/{z}/{x}/{y}.png"
                    ],
                    "tileSize": 256
                }
            },
            "layers": [{
                "id": "simple-tiles",
                "type": "raster",
                "source": "simple-tiles",
                "minzoom": 0,
                "maxzoom": 19
            }]
        },
        zoom: 6,
        center: [-71.5237372,41.4857846]
    });
map.on('load', function() {

    // Add VecTiles source
    map.addLayer({
        "id": "bm-heat",
        "type": "heatmap",
        "source": {
            "type": "vector",
            "tiles": ["http://localhost:8080/{z}/{x}/{y}.mvt"],
            "minzoom": 0,
            "maxzoom": 19
        },
        "source-layer": "bm-heat",
        "paint": {
            "heatmap-weight": {
                "type": "identity",
                "property": "multiplicity"
            }
        }
    });

    // // Add VecTiles source
    // map.addLayer({
    //     "id": "bm",
    //     "type": "fill",
    //     "source": {
    //         "type": "vector",
    //         "tiles": ["http://localhost:8080/{z}/{x}/{y}.mvt"],
    //         "minzoom": 6,
    //         "maxzoom": 19
    //     },
    //     "source-layer": "bm",
    //     "paint": {
    //         "fill-color": {
    //             property: 'displayNumber',
    //             stops: [
    //                 [0, "rgb(255,0,0)"],
    //                 [1, "rgb(255,0,255)"],
    //                 [2, "rgb(0,0,255)"]
    //             ]
    //         }
    //     }
    // });

    map.on("click", "bm", function(e) {
        console.log(e)
        var osm_info = {
            "bestMatchProb" : e.features[0].properties["bestMatchProb"],
            "bestMatchUid" : e.features[0].properties["bestMatchUid"],
            "dataset" : e.features[0].properties["dataset"],
            "id" : e.features[0].properties["__id"],
            "totalMatches": e.features[0].properties["totalMatches"]
        }
        console.log(osm_info)
    });
});

map.addControl(new mapboxgl.NavigationControl());
</script>

</body>
</html>
